[submodule "main/lib/libwebsockets"]
	path = main/lib/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
[submodule "main/lib/libsrtp"]
	path = main/lib/libsrtp
	url = https://github.com/cisco/libsrtp.git
[submodule "main/lib/amazon-kinesis-video-streams-webrtc-sdk-c"]
	path = main/lib/amazon-kinesis-video-streams-webrtc-sdk-c
	url = https://github.com/iotlabtpe/amazon-kinesis-video-streams-webrtc-sdk-c.git
[submodule "main/lib/private-wslay"]
	path = main/lib/private-wslay
	url = git@github.com:ycyang1229/private-wslay.git
